@model object

@{
    var detail = ViewBag.list;
}

@{
    ViewBag.Title = "新增明細";
    Layout = "_Layout";
}

<h2>新增明細成功</h2>
<p class="mt-3">@detail.ExpendingDate: @detail.ExpendingDetails - @detail.ExpendingPrice  (@detail.ExpendingCard.CatalogName)</p>