# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Expending-Card.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\d0509\Documents\GitHub\Expending-Card\Expending-Card\.idea\.idea.Expending-Card.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
