@model List<Expending_Card.Models.CardsViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>編輯卡片</h2>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Order</th>
      <th scope="col">Card</th>
      <th scope="col" colspan="2">Details</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in @Model)
    {
        <tr>
            <th scope="row">@item.CatalogOrder</th>
            <td>@item.CatalogName</td>
            <td colspan="2">@item.CatalogName</td>
        </tr>
    }
  </tbody>
</table>
<div class="row mt-3">
    <div class="col-md-10">
        <form id="create-info" class="form-inline" method="post">
            <div class="text-secondary col-md-2">建立新卡片</div>
            <div class="form-group col-md-3">
                <input name="name" class="form-control" placeholder="卡片名稱" required="required"/>
            </div>
            <div class="text-secondary col-md-3"></div>
            <div class="form-group col-md-2">
                <input type="submit" value="Create" class="btn btn-default" onclick="createCard();" />
            </div>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-10">
        <form id="delete-info" class="form-inline" method="post">
            <div class="text-secondary col-md-2">刪除卡片</div>
            <div class="form-group col-md-3">
                <input name="name" class="form-control" placeholder="卡片名稱" required="required"/>
            </div>
            <div class="text-secondary col-md-3"></div>
            <div class="form-group col-md-2">
                <input type="submit" value="Delete" class="btn btn-default" onclick="deleteCard();"/>
            </div>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-10">
        <form id="update-info" class="form-inline" method="post">
            <div class="text-secondary col-md-2">修改卡片名稱</div>
            <div class="form-group col-md-3">
                <input name="oldName" id="oldName" class="form-control" placeholder="現在名稱" required="required"/>
            </div>
            <div class ="form-group col-md-3">
                <input name="newName" id="newName" class="form-control" placeholder="更新名稱" required="required"/>
            </div>
            <div class="form-group col-md-2">
                <input type="submit" value="Update" class="btn btn-default" onclick="updateCardName();"/>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
    const request = new XMLHttpRequest();
    
    let cards = [];
    @foreach (var item in Model)
    {
        @:cards.push('@item.CatalogName');
    }
    
    function createCard() {
        editInfo('https://localhost:5001/CatalogCard/AddCard', "create-info")
    }

    function deleteCard() {
        editInfo('https://localhost:5001/CatalogCard/DeleteCard', "delete-info")
    }
    
    function updateCardName() {
        let data = getFormData("update-info");
        let oldName = getUpdateCardName("update-info", "oldName");
        let newName = getUpdateCardName("update-info", "newName");
        
        if (cards.includes(oldName)) {
            if (newName=="") {
                editError(newName)
            }else if (cards.includes(newName)){
                editError("duplicate")
            }else{
                request.open('POST', 'https://localhost:5001/CatalogCard/UpdateCard', true);
                request.send(data);
                alert("更新成功");
            }
        }else {
            editError(oldName);
        }      
    }
    
    function editInfo(url, form) {
        let data = new FormData(document.forms.namedItem(form));
        axios.post(url, data)
        .then(function (response) {
            alert(response.data);
        })
        .catch(function (error) {
            alert(error.response.data);
        });
    }
    
    function getFormData(name){
        let form = document.forms.namedItem(name);
        let data = new FormData(document.forms.namedItem(name));
        return data;
    }
    
    function getUpdateCardName(formId, input) {
        let form = document.forms.namedItem(formId);
        let card = form.elements.namedItem(input).value;
        return card;
    }
    
    function editError(name) {
        switch (name) {
            case "":
                alert('欄位不得為空');
                break;
            case "exist":
                alert('卡片已存在');
                break;
            case "duplicate":
                alert('更新後的卡片名稱重複');
                break;
            default:
                alert('卡片名稱不存在');
                break;
        }
    }
   </script>
}