@model List<Expending_Card.Models.CardsViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>編輯卡片</h2>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Order</th>
      <th scope="col">Card</th>
      <th scope="col" colspan="2">Details</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in @Model)
    {
        <tr>
            <th scope="row">@item.CatalogOrder</th>
            <td>@item.CatalogName</td>
            <td colspan="2">@item.CatalogName</td>
        </tr>
    }
  </tbody>
</table>
<div class="row mt-3">
    <div class="col-md-10">
        <form class="form-inline" asp-controller="CatalogCard" asp-action="AddCard">
            <div class="text-secondary col-md-2">建立新卡片</div>
            <div class="form-group col-md-3">
                <input name="name" class="form-control" placeholder="卡片名稱" required="required"/>
            </div>
            <div class="text-secondary col-md-3"></div>
            <div class="form-group col-md-2">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-10">
        <form class="form-inline" asp-action="DeleteCard">
            <div class="text-secondary col-md-2">刪除卡片</div>
            <div class="form-group col-md-3">
                <input name="name" class="form-control" placeholder="卡片名稱" required="required"/>
            </div>
            <div class="text-secondary col-md-3"></div>
            <div class="form-group col-md-2">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-10">
        <form id="update-info" class="form-inline" method="post">
            <div class="text-secondary col-md-2">修改卡片名稱</div>
            <div class="form-group col-md-3">
                <input name="oldName" id="oldName" class="form-control" placeholder="現在名稱" required="required"/>
            </div>
            <div class ="form-group col-md-3">
                <input name="newName" id="newName" class="form-control" placeholder="更新名稱" required="required"/>
            </div>
            <div class="form-group col-md-2">
                <input type="submit" value="Update" class="btn btn-default" onclick="updateCardName();"/>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>
    const request = new XMLHttpRequest();
    let cards = [];
    @foreach (var item in Model)
    {
        @:cards.push('@item.CatalogName');
    }
    
    function updateCardName() {
        let form = document.forms.namedItem("update-info");
        let oldName = form.elements.namedItem("oldName").value;
        let data = new FormData(form);
        
        if (cards.includes(oldName)) {
            request.open('POST', 'https://localhost:5001/CatalogCard/UpdateCard', true);
            request.send(data);
            alert("更新成功");
        }else {
            alert("卡片名稱 「" + oldName + "」不存在");
        }      
    }
   </script>
}