@model Expending_Card.Models.Card

@{
    ViewData["Title"] = @Model.Name;
    Layout = "_Layout";
}

<h2>@Model.Name</h2>
<p>卡片序號: @Model.Order</p>


<div class="col-md-2">
    <form asp-controller="CatalogCard" asp-action="EditCard">
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-default" />
        </div>
    </form>
</div>