@using System.Collections
@model object

@{
    ViewBag.Title = "卡片總覽";
    Layout = "_Layout";
    var cards = ViewBag.list;
}

<h2>Catalog Cards</h2>
<ol>
    @for (var i = 0; i < cards.Count; i ++)
    {
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="CatalogCard" asp-action="Show">@cards[i].CatalogName</a>
        </li>
    }
</ol>