@using System.Collections
@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>This Page is for Catalog Cards.</h2>
<ol>
    @foreach (var item in ViewBag.list)
    {
        <li>
            @item.CatalogName
        </li>
    }
</ol>