@using System.Collections
@model object

@{
    ViewBag.Title = "卡片總覽";
    Layout = "_Layout";
    var cards = ViewBag.list;
}

<h2>Catalog Cards</h2>
<ol class="mt-3">
    @for (var i = 0; i < cards.Count; i ++)
    {
        <li class="mt-0">
            <a class="nav-link text-dark" asp-area="" asp-controller="CatalogCard"  asp-action="ShowOneCard" asp-route-name="@cards[i].CatalogName">@cards[i].CatalogName</a>
        </li>
    }
</ol>